#root {
	justify-content: center;
}

#header {
	height: 10%;
}

#panel {
	align-self: center;
	position: absolute;
	width: 40%;
	height: 80%;
	background-color: rgb(0, 0, 0);
	opacity: 0.8;
	border-radius: 16px;
}

#footer {
	height: 10%;
}

#content {
	height: 80%;
}

#welcome-label {
	top: 20%;
	font-size: 44px;
	color: white;
	-unity-text-align: middle-center;
}

#info-label {
	top: 60%;
	font-size: 22px;
	color: white;
	-unity-text-align: middle-center;
}